<header class="header header--simple">
  <nav class="nav">
    <div class="bar">
      <div class="brand">
        <a href="/pages/symbol/index.html">
          <img src="/assets/img/global/symbol.png" alt="Symbol" class="nav-logo">
        </a>
        <a href="/index.html" class="brand-name">Roberto Mozara</a>
      </div>
      <div class="links">
        <a href="/index.html" data-page="home">HOME</a>
        <a href="/pages/essays/index.html" data-page="essays">ESSAYS</a>
        <a href="/pages/publications/index.html" data-page="publications">PUBLICATIONS</a>
        <a href="/pages/photos-poems/index.html" data-page="photos-poems">PHOTOS & POEMS</a>
        <a href="/pages/about-me/index.html" data-page="about-me">ABOUT ME</a>
        <a href="/pages/contact/index.html" data-page="contact">CONTACT</a>
      </div>
    </div>
  </nav>

  <div class="hero">
    <h1 id="pageTitle"></h1>
  </div>
</header>
